.App{
  margin: 10px;
}

h1{
  text-align: center;
  font-size: 40px;
}

h4{
  margin-top:10px;
  margin-bottom:10px;
}

.content{
  display: flex;
  justify-content: space-between;  
}

.items{
  margin: 2%;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-items: space-between;
}

.BackeryItem{
  margin: 5%;
}

.sidebar{
  width:30%;
}

.reset{
  margin-top:10px;
  font-weight: 700;
  font-size:15px;
}